:root {
	--default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
		"Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
		"Source Han Sans CN", sans-serif;
}



input, select, textarea, button {
	font-family: Pretendard, "var(--default-font-family)";
	outline: 0;
}



/* 제목 */
.title {
	display: block;
	height: 30px;
	justify-self: center;
	margin-top: 130px;
	color: #000000;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	text-align: left;
	white-space: nowrap;
}

/* 폼 컨테이너 */
.form {
	width: 690px;
	height: 100%;
	margin-top: 40px;
	justify-self: center;
}

/* 과제 명 입력 */
.task-name-input {
	width: 690px;
	height: 90px;
	margin-bottom: 40px;
}

.assignment-name {
	display: block;
	height: 19px;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 11px;
}

.input {
	width: 100%;
	height: 25px;
	padding: 10px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	font-size: 16px;
}


/* 세부 내용 입력 */
.detail-input {
	position: relative;
	width: 100%;
}

.detail-text {
	display: block;
	height: 19px;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 11px;
}

.input-field-1 {
	width: 100%;
	height: 150px;
	padding: 10px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	font-size: 16px;
	resize: vertical; /* 사용자가 세로 크기 조절 가능 */
}

/* 제출 버튼 */
.complete-button {
	width: 200px;
	height: 52px;
	margin-top: 50px;
	margin-left: 68%;
	background-color: #1E2A7C;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

