body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Pretendard";
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: black; /* 링크 색을 검정으로 설정 */
}

a:visited {
    color: black; /* 방문한 링크의 색을 검정으로 설정 */
}

a:hover {
    color: black; /* 링크를 마우스로 호버할 때의 색을 검정으로 설정 */
}

a:active {
    color: black; /* 클릭할 때의 색을 검정으로 설정 */
}

li {
	list-style: none;
}

.page {
	width: 1300px;
	margin: 0 auto;
}

.subTitle {
	margin-top: 50px;
	font-size: 20px;
	color: #643e23;
	font-weight: bold;
}


.tab {
	display: none;
}

.tab.on {
	display: inline-flex;
}

.tab-container {
	display: flex;
	justify-content: left;
	gap: 20px;
	margin-top: 50px;
	font-size: 18px;
}

.tabs.on {
	font-size: 25px;
}

.tabs {
	font-size: 25px;
	padding: 10px 20px;
	font-weight: 700;
	cursor: pointer;
	display: flex;
}

.tab_wrap {
	margin-top: 30px;

	float: left;

	justify-content: space-between;
}

.leaderRoom {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.studyRoom {
	padding: 20px;
}

.leaderRoomBtn {
	margin-top: 20px;
	width: 150px;
	height: 40px;
	font-size: 15px;
	color: white;
	background-color: #99b0c2;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}

.hr-wrapper {
	position: relative;
	height: 5px;
}

#myStudyGroups_mainHr {
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 100%;
	border: none;
	background-color: #dad9d9;
	z-index: 0;
	/* 첫 번째 hr을 위에 표시 */
}

/* 두 번째 hr 겹쳐진 스타일 */
#myStudyGroups_hr1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 140px;
	border: none;
	background-color: black;
	z-index: 1;
	/* 두 번째 hr을 아래에 표시 */
}

#myStudyGroups_hr2 {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 135px;
	height: 3px;
	width: 140px;
	border: none;
	background-color: black;
	z-index: 1;
	/* 두 번째 hr을 아래에 표시 */
	display: none;
}

#tabIcon {
	width: 30px;
	margin-right: 8px;
}

.groupGallery {
	width: 100%;
	/* 그리드에서 전체 너비를 채우도록 설정 */
	height: 280px;
	border-radius: 30px;
	padding: 0px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	border: 0.1px solid white;
	/* 테두리를 제거 */
	box-shadow: 0px 4px 20px rgba(44, 44, 44, 0.1);
	/* 그림자 추가 */
}

.groupGallery img {
	width: 100%;
	/* 부모의 너비를 가득 채우도록 설정 */
	height: 75%;
	/* 비율을 유지하면서 높이 설정 */
	object-fit: cover;
	/* 이미지가 부모 안에 맞게 조정되도록 설정 */
	display: block;
	/* 이미지 하단 여백 제거 */
}

.groupGalleryTitle {
	font-size: 20px;
	font-weight: 600;
	padding-left: 20px;
	margin-top: 8px;
	display: block;
}

.groupGalleryCategory {
	display: inline-block;
	font-size: 11px;
	margin-left: 20px;
	margin-top:8px;
	padding: 2px 8px;
	border-radius: 20px;
}

.groupGalleryTeacherName{
	font-size: 16px;
	font-weight: 800;
	margin-right:10px;

}


.class {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* 3열 그리드 */
	gap: 20px;
	/* 요소 간의 간격 */
	padding: 42px;
	justify-items: center;
	/* 그리드 아이템들을 중앙 정렬 */
}

@media (max-width: 1024px) {
	.class {
		grid-template-columns: repeat(2, 1fr);
		/* 화면 크기가 작아지면 2열로 변경 */
	}
}

@media (max-width: 768px) {
	.class {
		grid-template-columns: 1fr;
		/* 화면 크기가 더 작아지면 1열로 변경 */
	}
}