body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Pretendard', sans-serif;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
            outline: none;
        }

        .page {
    width: 1300px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > img {
   margin-top: 30px;
}

header > nav {
    width: 600px;
    height: 100%;
    margin-right: 100px;
}

header ul {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header ul > li {
    padding: 0;
}

header ul > li > a {
    width: 120px;
    height: 30px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 5px;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
}

header ul > li > a:hover {
    color: #fff;
    background-color: rgba(30, 42, 124, 0.8);
    border-radius: 30px;
}


        #form-container {
            padding-top: 100px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        #info-container {
            background-color: white;
            padding: 30px;
            border-radius: 8px;
            width: 100%;
            max-width: 600px;
            
        }

        #info-title {
            font-size: 20px;
            font-weight: 600;
        color: gray;
        text-align: left;
        margin-bottom: 50px; 
        }


        .info-label {
            font-size: 14px;
            font-weight: 500;
            color: #505154;
            margin-bottom: 6px;
            display: block;
        }

        .info-box {
            height: 30px;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            margin-bottom: 20px;
            font-size: 14px;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
            color: #505154;
            display: flex;
            align-items: center;
        }

        #form-controls {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        #button-container {
            position: relative;
            margin-top: 90px;
            padding-top: 20px; 
            height: 50px; 
        }

        .footer-button {
            font-size: 14px;
            font-weight: 600;
            color: gray;
            border: none;
            background: none;
            cursor: pointer;
            padding: 10px 20px;
            position: absolute; 
            transition: color 0.3s;
        }

        #deleteAccount {
            left: 0; 
        }

        #editInfo {
            right: 0; 
        }

        .footer-button:hover {
            color: black; 
        }

        /*탈퇴하기 모달*/
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }
    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      width: 300px;
      text-align: center;
    }
    .modal-actions {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
    .btn {
      padding: 10px 20px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    #cancelBtn {
      background-color: #ccc;
    }
    #confirmBtn {
      background-color: #1e2a7c;
      color: white;
    }
    #cancelBtn:hover,
    #confirmBtn:hover {
      opacity: 0.8;
    }