body {
	min-width: 900px;
}

.container {
	margin: 100px auto;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 100vh;
	width: fit-content;
}

.title {
	font-weight: 700;
	font-size: 1.8em;
}


.role {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin: 100px 0px;
}

.age {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	gap: 10px;
	/* 버튼 간격 설정 */

}

#category {
	height: 250px;
	display: flex;
	align-items: center;

}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 700px;
	gap: 10px;
	/* 버튼 간격 설정 */

}


.role-button,
.age-button,
.category-button {
	font-family: 'Pretendard';
	font-size: 1.1em;
	font-weight: 400;
	height: 50px;
	border: none;
	background-color: white;
	color: #a8a7a7;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s, border-radius 0.2s;
	box-shadow: 1px 2px 8px #f3f3f3;
	border-radius: 5px;
}

.role-button {
	width: 45%;
}

.age-button,
.category-button {
	width: 120px;
	/*	margin: auto 10px;
*/
}

.role-button.selected,
.styled-button.selected,
.role-button:hover,
.styled-button:hover,
.age-button.selected,
.age-button:hover,
.category-button.selected,
.category-button:hover {
	background-color: #1E2A7C;
	color: white;
}


.styled-button {
	width: 400px;
	font-size: 1.1em;
	height: 40px;
	border: none;
	background-color: #D1D3D9;
	color: white;
	font-weight: 400;
	font-family: 'Pretendard';
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s, border-radius 0.2s;
	box-shadow: 1px 2px 8px #f3f3f3;
	border-radius: 5px;
	margin-top: 30px;
}