body {
	min-width: 900px;
	font-family: 'Pretendard', sans-serif;
}

nav {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

#logo-link {
      justify-self: center;
}
#logo-link img{
   width: 250px;
   
}
.page {
	width: 1300px;
	margin: 0 auto;
}

#form-container {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: flex-start;

}

#sign-up-container {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	width: 100%;
	max-width: 600px;
}

h3 {
	font-weight: 700;
	font-size: 1.8em;
	color: black;
	text-align: center;
	margin: 20px auto;
}

form label {
	font-size: 14px;
	font-weight: 500;
	color: #505154;
	margin-bottom: 6px;
	display: block;
}

form input {
	height: 30px;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
	font-size: 14px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}


form input::placeholder {
	color: #c1c1c1;
}

#form-controls {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}


#nextBt {
	background-color: #1e2a7c;
	color: white;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	width: 80%;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
	background-color: #4a54a1;
}

.section3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1e2a7c;
	padding: 20px 0;
}

.section3 p {
	font-size: 14px;
	font-weight: 500;
	color: white;
	text-align: center;
	margin: 0;
}

.input-group {
	position: relative;
}


.input-group button {
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #c0c0c0;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
}

.input-group button:hover {
	background-color: #4a54a1;
}

.page-indicator {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 50px;
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #c1c1c1;
}

.circle.active {
	background-color: #000;
}