#logo-link {
	margin-left: 100px;
	
	margin-top: 30px;
}

header > nav {
    width: 600px;
    height: 100%;
    margin-right: 100px;
    
}

.title {
	text-align: center;
	width: 600px;
	height: 35px;
	color: #1d2a7c;
	font-size: 32px;
	font-weight: 600;
	line-height: 34px;
}

.calendarTable {
	width: 90%; margin-top : 20px;
	border-collapse: collapse;
	/* To remove gaps between table borders */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	border-collapse: collapse;
	margin-top: 20px; /* Shadow effect */
}

.calendarTable th, .calendarTable td {
	border: 1px solid #DADADA;
	border-collapse: collapse;
}

.calendarTable th {
	font-weight: bold;
	height: 50px;
}

.calendarTable td {
	text-align: left;
	vertical-align: text-top;
	width: 95px;
	height: 70px;
	padding: 10px
}

.sunday {
	color: red;
}

#today {
	font-weight: bolder;
	color: #1E2A7C;
}

.year {
	font-size: 25px;
	font-weight: bold;
	float: right;
	padding-top: 10px;
	margin-right: 40px;
}

.month {
	font-size: 33px;
	font-weight: bold;
	margin-left: 40%;
}

#previousMonth {
	color: #D1D3D9;
}

#nextMonth {
	color: #D1D3D9;
}

#calendar {
	float: right;
	margin-top: 40px;
}

#calendarHeader {
	margin-top: 50px;
}

#previousMonthIcon {
	width: 12px;
	margin-right: 20px;
	cursor: pointer;
}

#nextMonthIcon {
	width: 12px;
	margin-left: 20px;
	cursor: pointer;
}

#body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.study-container {
	margin-top: 50px;
	display: flex;
	width: 100%;
	display: flex;
	width: 100%;
	gap: 10px; /* Optional spacing between sections */
}

.study-detail {
	flex: 1; /* Occupies 1 part of the total width (1/3) */
	max-width: 23%; /* Ensures it doesn’t exceed one-third */
	border: none; /* Optional for clarity */
	padding: 10px;
	/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.mainInform {
	flex: 2; /* Occupies 2 parts of the total width (2/3) */
	max-width: 77%; /* Ensures it doesn’t exceed two-thirds */
	border: none; /* Optional for clarity */
	padding: 10px;
	/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.study-title {
	display: block;
	height: 35px;
	margin-top: 30px;
	color: #633d22;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.867px;
	text-align: center;
	white-space: nowrap;
	z-index: 19;
}

.study-info-box {
	width: 60%;
	height: 300px;
	margin-top: 20px;
	background: #ffffff;
	border: 1px solid rgba(170, 170, 170, 0.02);
	border-radius: 15px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	justify-self: center;
	z-index: 18;
}

.team-members-box {
	width: 60%; height : 222px;
	margin-top: 40px;
	background: #ffffff;
	border: 1px solid rgba(170, 170, 170, 0.02);
	border-radius: 15px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	overflow: auto;
	z-index: 1;
	justify-self: center;
	background: #ffffff;
	height: 222px;
}

.team-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 180px;
	height: 35px;
	margin: 12px 0 0 13px;
	z-index: 9;
}

.team-icon {
	width: 5%;
	height: 14.308px;
	background:
		url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2024-12-16/e035bd1d-2c2f-437d-8157-920f9df60b7c.png)
		no-repeat center;
	background-size: 100% 100%;
}

.team-count {
	width: 137px;
	height: 35px;
	color: #161f58;
	font-family: Pretendard, var(--default-font-family);
	font-size: 18px;
	font-weight: 600;
	line-height: 35px;
	text-align: left;
}

.member-list {
	display: block;
	margin-left: -10%;
}

.member-item {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}

.member-icon {
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background:
		url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2024-12-16/eb09c5d1-10d9-43cb-8374-8dbf495e2291.png)
		no-repeat center;
	background-size: cover;
}

.member-name {
	color: #000000;
	font-family: Inter, var(--default-font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
}

.study-location {
	align-items: center;
	color: #633d22;
	font-size: 15px;
	font-weight: 600;
	line-height: 17.9px;
}

.study-location {
	justify-self: center;
	margin-top: 20px;
}

.study-time {
	top: 282px;
}

.study-location tr {
	height: 25px;
}

.study-location {
	width: 150px;
}

.location-icon {
	width: 20%;
	height: 20px;
	background:
		url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2024-12-16/b39ada70-ad1e-4198-8b17-bd117402c22e.png)
		no-repeat center;
}

.location-inform {
	width: 100%;
	height: 20px;
	font-size: 13px;
}

.time-icon {
	top: 290px;
	background:
		url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2024-12-16/128f9afb-93e3-4b33-b9bd-e3cbbf906bdc.png)
		no-repeat center;
}

input, select, textarea, button {
	outline: 0;
}

.main-container {
	width: 90%;
	height: 198px;
	margin-top: 30px;
}

.rectangle-1 {
	height: 198px;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: center;
	flex-direction: row;
	background: #ffffff;
	border: 1px solid rgba(170, 170, 170, 0.02);
	border-radius: 15px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.schedule {
	margin-top: 15px;
	width: 30%;
	height: 150px;
	top: 39px;
	left: 456px;
}

.schedule_title {
	display: block;
	margin-left: 17px;
	height: 40px;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.4px;
	text-align: left;
	white-space: nowrap;
	height: 40px;
}

.schedule_content {
	display: block;
	height: 19px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	white-space: nowrap;
	font-size: 18px;
}

.notice {
	margin-top: 15px;
	width: 30%;
	height: 150px;
	top: 39px;
	left: 233px;
}

.notice_title {
	display: block;
	margin-left: 17px;
	width: 30%;
	height: 40px;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.4px;
	text-align: left;
	white-space: nowrap;
}

.notice_content {
	display: block;
	height: 19px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	white-space: nowrap;
}

.assignment {
	margin-top: 15px;
	height: 150px;
	width: 30%;
	top: 42px;
	left: 28px;
}

.assignment_title {
	display: block;
	margin-left: 17px;
	height: 40px;
	color: #000000;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.4px;
	text-align: left;
	white-space: nowrap;
}

.assignment_content {
	display: block;
	height: 19px;
	margin-left: 10px;
	color: #000000;
	font-family: Inter, var(--default-font-family);
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	white-space: nowrap;
}

.schedule-add-button {
	width: 30%;
	height: 30px; /* 버튼의 컨테이너 높이 */
	align-content: center;
}

.button-image {
	width: 90%; /* 가로 30px */
	height: 20px; /* 세로 15px */
	margin-left: 5%;
	cursor: pointer;
}

.notice-add-button {
	width: 30%;
	height: 30px; /* 버튼의 컨테이너 높이 */
	align-content: center;
}

.assignment-add-button {
	width: 30%;
	height: 30px; /* 버튼의 컨테이너 높이 */
	align-content: center;
}

.rectangle {
	margin-top: 30px;
	width: 90%;
	height: 188px;
	background: #ffffff;
	border: 1px solid rgba(170, 170, 170, 0.02);
	border-radius: 15px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.flex-column-fc {
	width: 100%;
	height: 134.286px;
	top: 13.922px;
	left: 61.186px;
	font-size: 0px;
}

.flex-column {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.notice_main {
	display: inlint-block;
	height: 34.815px;
	color: #161f58;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.867px;
	text-align: left;
	margin-left: 35px;
	margin-top: 15px;
	white-space: nowrap;
}

.important-notice {
	display: block;
	margin-top: 7px;
	margin-left: 20px;
	height: 35.556px;
	color: #633d22;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.867px;
	text-align: left;
	white-space: nowrap;
}

.flex-column-df {
	width: 32.096px;
	height: 127.322px;
	top: 15.912px;
	left: 24.075px;
}

.more-link {
	display: inline-block;
	margin-top: 20px;
	align-items: right;
	justify-content: flex-start;
	width: 105.315px;
	height: 34.815px;
	top: 14.922px;
	left: 562.682px;
	color: #b6b5b5;
	font-size: 15px;
	font-weight: 600;
	line-height: 17.9px;
	text-align: left;
	cursor: pointer;
	transition: color 0.2s, filter 0.2s; /* 부드러운 색상 변화 효과 */
}

.more-link:hover {
	color: #163580; /* 조금 더 어두운 색상 */
	filter: brightness(90%); /* 밝기를 90%로 조정해 어두워지게 */
}

.time-ago {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 105.315px;
	height: 34.815px;
	top: 70.623px;
	left: 562.682px;
	color: #b6b5b5;
	font-size: 15px;
	font-weight: 600;
	line-height: 17.9px;
	text-align: left;
}

.time-ago-2 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 105.315px;
	height: 34.815px;
	top: 114.393px;
	left: 563.685px;
	color: #b6b5b5;
	font-size: 15px;
	font-weight: 600;
	line-height: 17.9px;
	text-align: left;
}
/*추가*/
#today {
    font-weight: bold;
    color: red;
}

.previousMonth, .nextMonth {
    color: #ccc;
}
/*
.calendarTable td {
    text-align: center;
    padding: 10px;
}*/
/* 선택된 날짜에 대한 스타일 */
/*.selected-date {
    font-size: 1.5em;  글씨 크기 증가 
    background-color: #f0f0f0;  배경색 추가 (선택된 날짜 구분) 
    font-weight: bold;  글씨 굵게 
}*/
.selected {
    font-weight: bold; /* 글씨를 굵게 표시 (선택사항) */
    color: #007bff; /* 색상 변경 (선택사항) */
}
